@import "tailwindcss";

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
}

p, li, a, span, div {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

body {
  min-height: 100vh;
}

.hero-typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  animation: typing 3s steps(14, end) infinite alternate, blink 0.7s step-end infinite;
}

@keyframes typing {
  from { width: 0ch; }
  to { width: 14ch; }
}

@keyframes blink {
  50% { border-color: transparent }
}

html {
  scroll-behavior: smooth;
}
