@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
}

.hero-typing {
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  animation: typing 5s steps(20), blink 0.7s step-end infinite, loop 8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* Cursor blink */
@keyframes blink {
  50% { border-color: transparent }
}

@keyframes loop {
  0% { width: 0 }
  40% { width: 100% }   
  60% { width: 100% }   
  100% { width: 0 }     
}
